/* Importação da fonte 'Poppins' via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* 1rem = 10px */
html {
    font-size: 10px;
}

/* Barra personalizada */
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 20px;
    border: 2px solid #101010;
}

/* Variáveis */
:root {
    --font-default: 'Poppins', sans-serif;
    --background-dark: #121212;
    --color-text: #FFFF;
    --blue: #4169E1;
}

/* Estilos globais */
body {
    height: 100vh;
    width: 100%;

    padding: 2rem;

    background: var(--background-dark);
    color: var(--color-text);

    font-family: var(--font-default);
    font-size: 1.6rem;
}

body a {
    color: var(--color-text);

    text-decoration: none;
}

body h1 {
    color: transparent;
}