@media only screen and (max-width: 980px) {
    html {
        width: 100vw !important;
    }

    body {
        max-width: 100%;
        min-height: 100vh;
    }

    header {
        position: absolute;
        right: 50%;
        left: 50%;
    }

    h1 {
        display: none;
    }

    header .navbar a {
        padding: .5rem;
    }

    header .navbar button {
        font-size: 1.5rem;
        width: 10rem;
        height: 5rem;
    }

    main .container {
        display: flex;
        flex-direction: column;
    }
    
    main .container .avatar img {
        width: 95%;
        height: 95%;
        padding-top: 8rem;
        margin: 0 auto;
    }

    main .container .profile .about p {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
    }

    main .container .profile .technologies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main .container .profile .technologies .tech {
        margin: 1rem;
    }

    main .projects {
        padding: 0;
    }

    main .projects .cards {
        flex-direction: column;
        align-items: center;
    }
    
    main .projects .cards .card {
        width: 95%;

        padding: 1.5rem;
        margin: 2rem;
    }

    main .projects .cards .card .project-image {
        width: 100%;
    }

    footer .contacts {
        padding-top: 5rem;
        padding-bottom: 3rem;
        position: absolute;
        left: 0;
    }
}

@media only screen and (max-width: 1350px) {
    header {
        display: grid;
        grid-template-columns: 45% 55%;
    }
    
    main .container .profile .technologies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main .container .profile .technologies .tech {
        margin: 1rem;
    }
}

@media only screen and (max-width: 1300px) {
   
}